* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Universal Sans";
  src: url("https://digitalassets.tesla.com/tesla-design-system/raw/upload/static/fonts/universal-sans-2/web/text/Universal-Sans-Text-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Universal Sans", Arial, sans-serif;
}
